body{
    margin:0;
    background:black;
    color:white;
    font-family:Arial;
}
.profile{
    background: black;
    color: red;
}
.nav{
    padding:20px;
    background:black;
    font-size:28px;
    color:red;
    font-weight:bold;
}
.row{
    display:flex;
    gap:15px;
    padding:20px;
}
.movie{
    width:200px;
    height:300px;
    border-radius:10px;
    transition:0.3s;
}
.movie:hover{
    transform:scale(1.1);
    border:2px solid red;
}
